<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
  </configSections>
  <connectionStrings>
    <add name="CnnString_icdLive" providerName="System.Data.SqlClient" connectionString="data source=srv4-PC; initial catalog=OnlineExam;uid=sa;password=server.123" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="CnnString_icdLive" />
  <appSettings>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="FromMail" value="testsrv111@gmail.com"/>
    <add key="Password" value="srvtest111"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="ResetPasswordURL" value="http://localhost:62975/ResetPassword.aspx"/>
    <add key="VerificationURL" value="http://localhost:62975/verification.aspx" />
    <add key="RegistartionUrl" value="http://localhost:62975/Index.aspx" />
    <add key="ResetPasswordStudentURL" value="http://localhost:3650/ResetPassword.aspx" />
    <add key="VerificationStudentURL" value="http://localhost:3650/Student/StudentVerification.aspx" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Index.aspx"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>